# Conventions communes a tous les editeurs / IDE
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yaml,yml,json,js,xml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# PowerShell 5.1 lit l'UTF-8 sans BOM comme de l'ANSI : BOM obligatoire
[*.ps1]
charset = utf-8-bom
end_of_line = crlf
